.btn {
  padding: 12px;
  font-size: 13px;
  margin: 0 2px;
  background-color: #56494e;
  border: none;
  border-radius: 4px;
  color: #d4c8c5;
  cursor: pointer;
}

.btn.active {
  color: var(--light-white);
  background-color: var(--light-red);
}

@media (min-width: 768px) {
  .btn {
    font-size: 15px;
  }
}
